*{
    margin: 0px;
    padding: 0px;
}
.aac{
     height:600px; 
    width:627px; 
    background-size: cover;
    border:2px solid black;
background-image: url(/CSS3/images.jpg);
background-repeat: no-repeat; 
}
.xy{
    height: 124px;
    width: 532px;
    border: 2px solid black;
    margin: 20px;
    padding-left: 20px;
    
    background-image:url(/igm4.png)
}
.x{
    height:126px;
    width: 170px;
    border: 2px solid green;
    border-radius:50% ;
    position: relative;
    left: 200px; 
    text-align: center;
     padding-top: 40px;
     color: rgb(215, 173, 119);
    background-color: greenyellow;
}


.ab{
    margin: 10px;height: 129px;
    width: 170px;
    border-radius: 50%;
    border: 2px solid green;
    position: absolute;
    right: 195px;
    top:6%;
    text-align: center;
    background-color: greenyellow;
    padding-top: 40px;
    color: rgb(215, 173, 119);
    
}
.cd{margin: 10px;height: 130px;
    width: 170px;
    border-radius: 50%;
    border: 2px solid green;
    position:absolute;
    right: 387px;
    top: 5%;
    
    text-align: center;
    padding-top: 40px;
    color: rgb(215, 173, 119);
    background-color: greenyellow;
}
.ef{margin: 10px;height: 130px;
    width: 170px;
    border-radius: 50%;
    border: 2px solid green;
    position: absolute;
    top:210px;
    padding-top: 40px;
    color: rgb(216, 175, 122);
    text-align: center;
    background-color: greenyellow;


}
.gh{height:127px;
    width: 170px;
    border: 2px solid green;
    border-radius:50% ;
    position: relative;
    right: 195px;
    top: 115px;
    text-align: center;
    background-color: greenyellow;
    padding-top: 40px;
    color: rgb(215, 173, 119);

}
.ij{height:127px;
    width: 170px;
    border: 2px solid green;
    border-radius:50% ;
    position: relative;
    right: 400px;
    bottom: 44px;
    text-align: center;
    background-color: greenyellow;
    padding-top: 40px;
    color: rgb(215, 173, 119);

}
p{
    color:aquamarine;text-align: left;

    
}
h1{
    color: rgb(1, 42, 1);
    text-align: left;
    font-size: 25px;
}
 ul li{
    color: aquamarine;
    list-style: none;
text-align: left;
/* ont-size: 15px; */
}
.x p{
    text-align: center;
    color: rgb(245, 141, 7);
}
button{
  height: 22px;
  width: 100px;
   color: green;
   margin-right:30px;
   border: 2px solid black;
   

   

}
